<header class='top-page-header'>
  <%= image_tag("new_release_only-header.JPG", class:"header-background-image")%>
  <div class = 'header-contents'>
    <div class = 'left-header'>
    <%= link_to root_path, class:"top_page-link" do %>
      <%= image_tag("new_release_only-logo.JPG", class:"new_release_only-logo")%>
      <div class='new_release_only'>new release only!</div>
    <% end %>
    </div>
    <div class='right-header'></div>
  </div>
</header>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%# <%= render 'shared/error_messages', model: f.object %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        会員情報入力
      </h1>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) nickname", maxlength:"40" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
      <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード(確認)</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
    </div>
    <div class="form-group">
      <p class='form-info-header'>
        本人確認
      </p>
      <p class='form-info-text'>
        安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      </p>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">お名前(全角)</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='input-name-wrap'>
        <%= f.text_area :family_name, class:"input-name", id:"family-name", placeholder:"例) 山田" %>
        <%= f.text_area :first_name, class:"input-name", id:"first-name", placeholder:"例) 太郎" %>
      </div>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">お名前カナ(全角)</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='input-name-wrap'>
        <%= f.text_area :family_name_kana, class:"input-name", id:"family-name-kana", placeholder:"例) ヤマダ" %>
        <%= f.text_area :first_name_kana, class:"input-name", id:"first-name-kana", placeholder:"例) タロウ" %>
      </div>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">自己紹介</label>
        <span class="indispensable">任意</span>
      </div>
      <%= f.text_area :introduction, class:"introduction", id:"introduction", placeholder:"例) ひとこと自己紹介、住んでいる地域、年齢、好きなバンド、etc..." %>
    </div>
    <div class="form-group">
      <h2 class='form-bottom-text'>
        「会員登録」のボタンを押すことにより、
        <span>利用規約</span>
        <br>に同意したものとみなします
      </h2>
    </div>
    <div class='register-btn'>
      <%= f.submit "会員登録" ,class:"register-red-btn" %>
    </div>
    <p class='register-info'>本人情報の登録について</p>
  </div>
<% end %>