<% if current_user.liked_by?(@music.id) %>
  <span>LIKE解除: </span><%= link_to music_like_path(@music.id), method: :delete, class: 'like-btn-action', remote: true do %>
    <%= image_tag "like.png", class:"like-icon" %>
  <% end %>
<% else %>
  <span>この曲が気に入ったらLIKEボタンを押してね！: </span><%= link_to music_likes_path(@music.id), method: :post, class: 'like-btn-action', remote: true do %>
    <%= image_tag "like.png", class:"like-icon" %>
  <% end %>
<% end %>
<span class='like-count'><%= @music.likes.count %></span>
