<%= render "shared/header" %>

<div class = 'header-contents-bottom'>
  <div class='user-detail'>
    <div class='user-name_show'><%= @user.nickname %></div>
    <div class='user_introduction_show'>自己紹介：<%= @user.introduction %></div>
  </div>
  <div class='user_show_action'>
    <% if user_signed_in? && current_user.id ==  @user.id %>
      <%= link_to '編集', edit_user_path(@user.id), method: :get, class: "user_show_action" %>
      <%= link_to '退会', "#", method: :delete, class:"user_show_action", data: { confirm: '本当に退会しますか？ ※これまでの投稿は全て削除されます。' } %>
    <% else %>
    <% end %>
  </div>
</div>
<div class="user_show">
  <div class="user-show-text">投稿一覧</div>
      <%= render "musics/music_library" %>
</div>