<header class='top-page-header'>
  <%= image_tag("new_release_only-header.JPG", class:"header-background-image")%>
  <div class = 'header-contents'>
    <div class = 'left-header'>
      <%= image_tag("new_release_only-logo.JPG", class:"new_release_only-logo")%>
      <div class='new_release_only'>new release only!</div>
    </div>
    <div class='right-header'>
      <%# <%= image_tag("new_release_only-logo.JPG", class:"new_release_only-logo")%>
      <%# <div>new release only!</div> %>
      <form class="search-form" action="#">
        <%# <%= select_tag "submit_name", options_for_select([[""],["洋楽ROCK"],["洋楽POP"],["洋楽HIPHOP/R&B/REGGAE"],["洋楽dance/electronica/house"],["洋楽その他"],["邦楽ROCK"],["邦楽POP"],["邦楽HIPHOP/R&B/REGGAE"],["邦楽dance/electronica/house"],["邦楽その他"]]) %>
        <%# <select name="year">
        <option value=""></option>
        <option value="1900">1900</option>
        <option value="1901">1901</option>
        <option value="1902">1902</option>
        <option value="1903">1903</option>
        <option value="1904">1904</option>
        <option value="1905">1905</option>
        <option value="1906">1906</option>
        <option value="1907">1907</option>
        <option value="1908">1908</option>
        <option value="1909">1909</option>
        <option value="1910">1910</option>
        </select> %>
        <input class='input-box' placeholder='MusicLibraryから探す'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </form>
      <div class = 'user_info'>
        <div></div>
        <% if user_signed_in? %>
          <ul class='user_info'>
            <li>
              <%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
            </li>
          </ul>
        <% else %>
          <div>
            <%= link_to 'ログイン', new_user_session_path, class: "login" %>
            <%= link_to '新規ユーザー登録', new_user_registration_path, class: "sign-up" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class='music-index-html'>
  <div class='main'>
    <%# <%= image_tag("new_release_only-logo.JPG", class:"main-background-image")%>
    <div class='main-contents'>
      <div class='music-index-text'>PickUp</div>
      <div class='musics-info-slide'>
        <a class='musics-info-slide' href="https://ja.bloggif.com/" title="フォトモンタージュ"><img src="https://data.bloggif.com/distant/user/store/1/9/7/b/1f49dbb851d647f62280999d0150b791.gif" alt="モンタージュBloggifを作成しました" width="100%" height="400" /></a>
      </div>
      <div class='music-index-text'>MusicLibrary</div>
      <%= render "musics/music_library" %>
    </div>
    <div class="twitter">
      <div class='music-index-text'>Twitter</div>
      <a class="twitter-timeline" data-width="100%" data-height="800" href="https://twitter.com/release_only?ref_src=twsrc%5Etfw">Tweets by release_only</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class='post-btn'>
    <div class='post-btn-text'>Please Share Your Music Now!!</div>

    <% if user_signed_in? %>
      <%= link_to new_music_path do %>
        <div class="logo-btn">
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
        </div>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <div class="logo-btn">
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
          <%= image_tag "new_release_only-logo.JPG" , size: '185x50' ,class: "post-btn-icon" %>
        </div>
      <% end %>
    <% end %>
    <div class='post-btn-text'>← Click Here!!</div>
  </div>
</div>
