<header class='top-page-header'>
  <%= image_tag("new_release_only-header.JPG", class:"header-background-image")%>
  <div class = 'header-contents'>
    <div class = 'left-header'>
    <%= link_to root_path, class:"top_page-link" do %>
      <%= image_tag("new_release_only-logo.JPG", class:"new_release_only-logo")%>
      <div class='new_release_only'>new release only!</div>
    <% end %>
    </div>
    <div class='right-header'></div>
  </div>
</header>

<div class="musics-registration-contents">
  <header class="musics-registration-header">
    <%# <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
  </header>
  <div class="musics-registration-main">
    <h2 class="musics-registration-title">musicの情報を入力</h2>
    <%= form_with model: @music, local: true do  |f| %>

    <%# <%= render 'shared/error_messages', model: f.object %>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        ジャケット画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image %>
      </div>
      <div class="weight-bold-text">
        動画
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :movie %>
      </div>
      <div class="weight-bold-text">
        YouTube動画URL
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :youtube_url, class:"musics-text", id:"music-youtube_url", placeholder:"YouTube動画URL", maxlength:"100" %>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-musics">
      <div class="weight-bold-text">
        CDタイトル名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"musics-text", id:"music-title", placeholder:"CDタイトル名（必須 40文字まで)", maxlength:"40" %>
      <div class="musics-explain">
        <div class="weight-bold-text">
          アーティスト名
          <span class="indispensable">必須</span>
        </div>
      <%= f.text_area :artist, class:"musics-text", id:"music-artist", placeholder:"アーティスト名（必須 40文字まで)", maxlength:"40" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="musics-detail">
      <div class="weight-bold-text">
        ジャンル
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"music-genre"}) %>
      <div class="weight-bold-text">
        シングル or アルバム
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box", id:"music-type"}) %>
      <div class="weight-bold-text">
        年
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :year, class:"musics-year", id:"music-year", placeholder:"半角数字のみ", maxlength:"16" %>
      <div class="weight-bold-text">
        月
        <span class="indispensable">任意</span>
      </div>
      <%= f.collection_select(:month_id, Month.all, :id, :name, {}, {class:"select-box", id:"music-month"}) %>
      <div class="weight-bold-text">
        CDの説明
        <span class="indispensable">任意</span>
      </div>
      <%= f.text_area :text, class:"musics-text", id:"music-text", placeholder:"CDの説明（必須 1,000文字まで）     おすすめの曲名 /感想 /その他アピールポイント" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <%# /商品の詳細 %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%# <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %> %>
    <p class="inc">
      ©︎Furima,Inc.
    </p>
  </footer>
</div>